@keyframes rotate-ease-in-out {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px
  }
}

@keyframes rotate-linear {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes back-and-forth {
  0% { top: 1rem; }
  30% { top: 0.8rem; }
  50% { top: 1rem; }
  70% { top: 1.2rem; }
  100% { top: 1rem; }
}

$loading-spinner__linear: rotate-linear 2s linear infinite;
$loading-spinner__ease-in-out: rotate-ease-in-out 1.5s ease-in-out infinite;
$back-and-forth: back-and-forth .9s infinite;
