$box-shadow__login-form: 0 0 50px rgba(20, 113, 115, 0.5);
$box-shadow__page-content: 1px 1px 6px rgba(0, 0, 0, 0.5);
$box-shadow__page-header: 1px 1px 3px rgba(0, 0, 0, 0.12);
$box-shadow__button--hover: 0 -1px 1px 0 rgba(0, 0, 0, 0.08),
  0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
$box-shadow__button--active: inset 0 -1px 1px 0 rgba(0, 0, 0, 0.08),
  inset 0 2px 2px 0 rgba(0, 0, 0, 0.16), inset 0 4px 4px 0 rgba(0, 0, 0, 0.24);
$box-shadow__button-circle--active: 0 -1px 1px 0 rgba(0, 0, 0, 0.08),
  0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
