@import "variables";

.columns-settings-menu {
  width: $width__columns-settings;
  border: $border $border-color__modal;
  border-radius: $border-radius_2;

  &__option {
    font-family: $font-family--default;
    height: $height__input--default;
    line-height: $height__input--default;
    font-size: $font-xxs;
    color: $font-color__columns-settings__option;
    cursor: pointer;
    padding: $padding__columns-settings-menu-option;

    &:hover {
      background-color: $color__active;
      color: $font-color-white-primary;
    }
  }

  &__popover {
    padding: $zero;
    border: none;
  }
}

.dialog--columns-settings {
  .el-dialog__body {
    display: flex;

    .draggable_section {
      display: inherit;
      justify-content: space-between;
      width: $width__draggable_section;

      .column {
        width: $width__draggable_section__column;

        &__title {
          margin-top: $zero;
        }

        &__list {
          height: $height__draggable-list;
          border: $border $border-color__modal;
          border-radius: $border-radius_2;

          .dragArea {
            height: $width--default;
            width: $height--default;
            overflow: auto;

            .item {
              height: $height__input--large;
              line-height: $height__input--large;
              margin: $margin__dragArea__item;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: $border $border-color__modal;
              border-radius: $border-radius_2;
              padding: $padding__dragArea__item;
              cursor: pointer;

              &.active {
                background-color: $background-color__table__row--selected;
                color: $font-color-white-primary;

                .icon--eye.slashed {
                  background-image: url('../assets/icons/eye-slash-white.svg');
                }
              }

              .icon--eye {
                width: $width__icon;
                height: $height__icon;
                background-image: url('../assets/icons/eye.svg');
                background-repeat: no-repeat;
                margin-left: $margin__icon--eye;
                border: none;
                padding: $zero;

                &.slashed {
                  margin-left: $zero;
                  margin-right: $margin__icon--eye;
                  background-image: url('../assets/icons/eye-slash.svg');
                }
              }

              .text {
                height: $height__input--large;
                line-height: $height__input--large;
                font-family: $font-family--default;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }

    .buttons-section {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-top: $margin-top__buttons-section;
      width: $width__buttons-section;
      padding-left: 10px;

      .el-button + .el-button {
        margin-left: $zero;
      }
    }
  }
}
