// sizes
$width__draggable_section: 80%;
$width__draggable_section__column: calc(50% - 5px);
$width__buttons-section: 20%;

$margin__dragArea__item: 2px 2px;
$margin__icon--eye: 10px;
$margin-top__buttons-section: 17px;
$padding__columns-settings-menu-option: 0 10px 0 25px;
$padding__dragArea__item: 0 10px;
$padding-left__buttons-section: 10px;
