[Unit]
Description=MentolVKS
After=network.target multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/mentol/MentolVKS
ExecStartPre=cd /opt/mentol/MentolVKS
ExecStart=/usr/bin/dotnet /opt/mentol/MentolVKS/MentolVKS.dll
Restart=always
RestartSec=10  # Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=mentolvks

[Install]
WantedBy=multi-user.target