$width__filter--date: 400px;
$width__filter-select--operand: 40%;
$width__filter-select--date: 26%;
$width__filter-select--time: 23%;
$width__filter-select--clear: 30px;
$height__filter-select--clear: $width__filter-select--clear;
$width__datepicker--time: 90px;
$padding__datepicker__input: 0 23px 0 10px;
